@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

html, body {
    height: 100%;
    margin: 0;
}


.reset-reply {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: #888;
    z-index: 4;
}
.reset-reply:hover {
    color: #333;
}
.control.has-icons-right {
    position: relative;
}